.main {
    /* padding: 6rem; */
    /* min-height: 100vh;
    background-color: #1B004C;
    width: 100%;
    display: flex; */
  }

  @media only screen and (max-width: 600px) {
    .main {
      padding: 1rem;
    }
  }